# Server configuration
PORT=5000
NODE_ENV=development

# Database
DB_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/parcel-db

# JWT Secrets
JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES=30d

# Bcrypt configuration
BCRYPT_SALT_ROUND=10

# Super Admin credentials
SUPER_ADMIN_EMAIL=example@gmail.com
SUPER_ADMIN_PASSWORD=superpassword

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# Express session secret
EXPRESS_SESSION_SECRET=your_express_session_secret

# Frontend URL
FRONTEND_URL=http://localhost:5173
